body {
    background-image: url(../pictures/background.webp);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
header {
    position: absolute;
    top: 0px;
    left: 0px;
    background: #9FD7D3;
    width: 100%;
    height: 119px;
    opacity: 0.8;
}
header h1 a {
    color: white;
    position: relative;
    top: 16px; left: 100px;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    animation-duration: 3s;
    animation-name: slidein;
}
@keyframes slidein {
    from {
        margin-left: 70%;
    }
    to {
        margin-left: 0%;
    }
}
header nav ul {
    list-style-type: none;
    float: left;
    display: flex;
    position: relative;
    top: -50px; left: 1500px;
    font-family: 'Inter';
    font-style: normal;
}
header li {
    margin-left: 30px;
    font-size: 20px;
    cursor: pointer;
}
header li a {
    text-decoration: none;
    font-size: 25px;
    color: #FFFFFF;
}
picture.Banner img {
    position: absolute;
    width: 1905px;
    height: 996px;
    left: 0px;
    top: -8px;
    z-index: -1;
}
section.Introducing_text h2 {
    position: absolute;
    width: 750px;
    height: 108px;
    left: 85px;
    top: 206px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
}
section.Introducing_text h3 {
    position: absolute;
    width: 864px;
    height: 60px;
    left: 85px;
    top: 470px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
}
section.Introducing_text p  {
    position: absolute;
    width: 163px;
    height: 30px;
    left: 85px;
    top: 511px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
}
h2.Title_1 {
    position: absolute;
    width: 1193px;
    height: 36px;
    left: calc(50% - 1193px/2 + 0.5px);
    top: 1096px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #888888;
}
section.Architecture_interieur_banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 76px 118px;
    gap: 10px;
    position: absolute;
    width: 550px;
    height: 20px;
    left: 0px;
    top: 1310px;
    background: rgba(159, 215, 211, 0.95);
    border-radius: 0px 5px 5px 0px;
    z-index: 1;
}
section.Architecture_interieur_banner h2 {
    width: 667px;
    height: 36px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    white-space: nowrap;
}
picture.Architecture_interieur_picture img {
    position: absolute;
    width: 1905px;
    height: 1280px;
    left: 0px;
    top: 1350px;
}
main aside.aside_1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 76px 118px;
    gap: 10px;
    position: absolute;
    width: 603px;
    height: 100px;
    left: 1066px;
    top: 2480px;
    background: #FFFFFF;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
    border-radius: 20px 0px 0px 20px;
}
main aside.aside_1 p {
    width: 703px;
    height: 90px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #888888;
    flex: none;
    order: 0;
    flex-grow: 0;
}
section.Text_1 p {
    position: absolute;
    width: 1750px;
    height: 351px;
    left: 85px;
    top: 2855px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #888888;
}
section.Text_1 p mark {
    font-style: normal;
    background-color: transparent;
    font-weight: bold;
    font-size: 1.2em;
    color: #9FD7D3;
}
section.First_step {
    position: absolute;
    width: 310px;
    height: 158px;
    left: 0px;
    top: 3500px;
}
section.First_rectangle {
    position: absolute;
    width: 294px;
    height: 144px;
    left: 0px;
    top: 0px;
    background: #9FD7D3;
    border-radius: 0px 5px 5px 0px;
}
section.Second_rectangle {
    position: absolute;
    width: 310px;
    height: 144px;
    left: 0px;
    top: 14px;
    background: rgba(159, 215, 211, 0.5);
    border-radius: 0px 5px 5px 0px;
}
section.First_step h2 {
    position: absolute;
    width: 156px;
    height: 36px;
    left: 78px;
    top: 27px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}
section.First_step p {
    position: absolute;
    width: 1750px;
    height: 621px;
    left: 85px;
    top: 250px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #888888;
}
section.First_step p mark {
    font-style: normal;
    background-color: transparent;
    font-weight: bold;
    font-size: 1.2em;
    color: #888888;
}
section.Second_step {
    position: absolute;
    width: 310px;
    height: 158px;
    left: 0px;
    top: 4500px;
}
section.Third_rectangle {
    position: absolute;
    width: 294px;
    height: 144px;
    left: 0px;
    top: 0px;
    background: #9FD7D3;
    border-radius: 0px 5px 5px 0px;
}
section.Fourth_rectangle {
    position: absolute;
    width: 310px;
    height: 144px;
    left: 0px;
    top: 14px;
    background: rgba(159, 215, 211, 0.5);
    border-radius: 0px 5px 5px 0px;
}
section.Second_step h2 {
    position: absolute;
    width: 156px;
    height: 36px;
    left: 78px;
    top: 27px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    white-space: nowrap;
}
section.Second_step p {
    position: absolute;
    width: 1750px;
    height: 621px;
    left: 85px;
    top: 250px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #888888;
}
section.Second_step p mark {
    font-style: normal;
    background-color: transparent;
    font-weight: bold;
    font-size: 1.2em;
    color: #888888;
}
section.Third_step {
    position: absolute;
    width: 310px;
    height: 158px;
    left: 0px;
    top: 5300px;
}
section.Fifth_rectangle {
    position: absolute;
    width: 294px;
    height: 144px;
    left: 0px;
    top: 0px;
    background: #9FD7D3;
    border-radius: 0px 5px 5px 0px;
}
section.Sixth_rectangle {
    position: absolute;
    width: 310px;
    height: 144px;
    left: 0px;
    top: 14px;
    background: rgba(159, 215, 211, 0.5);
    border-radius: 0px 5px 5px 0px;
}
section.Third_step h2 {
    position: absolute;
    width: 156px;
    height: 36px;
    left: 78px;
    top: 27px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    white-space: nowrap;
}
section.Third_step p {
    position: absolute;
    width: 1750px;
    height: 621px;
    left: 85px;
    top: 250px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #888888;
}
section.Third_step p mark {
    font-style: normal;
    background-color: transparent;
    font-weight: bold;
    font-size: 1.2em;
    color: #888888;
}
hr.Line_1 {
    border: none;
    display: block;
    border-top: 10px dashed #9FD7D3;
    position: absolute;
    top: 6200px;
    left: 80px;
    z-index: -1;
    width: 1749px;
}
h2.Title_2 {
    position: absolute;
    width: 1193px;
    height: 36px;
    left: calc(50% - 1193px/2 + 0.5px);
    top: 6280px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #888888;
}
section.Décoration_Intérieur_Banner {
    position: absolute;
    top: 6420px;
    left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 76px 118px;
    gap: 10px;
    isolation: isolate;
    width: 400px;
    height: 0px;
    background: #9FD7D3;
    border-radius: 0px 5px 5px 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 1;
}
section.Décoration_Intérieur_Banner h2 {
    position: absolute;
    width: 397px;
    height: 36px;
    left: 85px;
    top: 34px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
    white-space: nowrap;
}
picture.Décoration_Intérieur_picture img {
    position: absolute;
    width: 1905px;
    height: 713px;
    left: 0px;
    top: 6500px;
}
section.Text_2 p {
    position: absolute;
    width: 1750px;
    height: 351px;
    left: 85px;
    top: 7350px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #888888;
}
section.Text_2 p mark {
    font-style: normal;
    background-color: transparent;
    font-weight: bold;
    font-size: 1.2em;
    color: #9FD7D3;
}
section.DI_First_step {
    position: absolute;
    width: 310px;
    height: 158px;
    left: 0px;
    top: 7800px;
}
section.DI_First_rectangle {
    position: absolute;
    width: 294px;
    height: 144px;
    left: 0px;
    top: 0px;
    background: #9FD7D3;
    border-radius: 0px 5px 5px 0px;
}
section.DI_Second_rectangle {
    position: absolute;
    width: 310px;
    height: 144px;
    left: 0px;
    top: 14px;
    background: rgba(159, 215, 211, 0.5);
    border-radius: 0px 5px 5px 0px;
}
section.DI_First_step h2 {
    position: absolute;
    width: 156px;
    height: 36px;
    left: 78px;
    top: 27px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}
section.DI_First_step p {
    position: absolute;
    width: 1750px;
    height: 621px;
    left: 85px;
    top: 250px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #888888;
}
section.DI_First_step p mark {
    font-style: normal;
    background-color: transparent;
    font-weight: bold;
    font-size: 1.2em;
    color: #888888;
}
section.DI_Second_step {
    position: absolute;
    width: 310px;
    height: 158px;
    left: 0px;
    top: 8400px;
}
section.DI_Third_rectangle {
    position: absolute;
    width: 294px;
    height: 144px;
    left: 0px;
    top: 0px;
    background: #9FD7D3;
    border-radius: 0px 5px 5px 0px;
}
section.DI_Fourth_rectangle {
    position: absolute;
    width: 310px;
    height: 144px;
    left: 0px;
    top: 14px;
    background: rgba(159, 215, 211, 0.5);
    border-radius: 0px 5px 5px 0px;
}
section.DI_Second_step h2 {
    position: absolute;
    width: 156px;
    height: 36px;
    left: 78px;
    top: 27px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    white-space: nowrap;
}
section.DI_Second_step p {
    position: absolute;
    width: 1750px;
    height: 621px;
    left: 85px;
    top: 250px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #888888;
}
section.DI_Second_step p mark {
    font-style: normal;
    background-color: transparent;
    font-weight: bold;
    font-size: 1.2em;
    color: #888888;
}
section.DI_Third_step {
    position: absolute;
    width: 310px;
    height: 158px;
    left: 0px;
    top: 9100px;
}
section.DI_Fifth_rectangle {
    position: absolute;
    width: 294px;
    height: 144px;
    left: 0px;
    top: 0px;
    background: #9FD7D3;
    border-radius: 0px 5px 5px 0px;
}
section.DI_Sixth_rectangle {
    position: absolute;
    width: 310px;
    height: 144px;
    left: 0px;
    top: 14px;
    background: rgba(159, 215, 211, 0.5);
    border-radius: 0px 5px 5px 0px;
}
section.DI_Third_step h2 {
    position: absolute;
    width: 156px;
    height: 36px;
    left: 78px;
    top: 27px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    white-space: nowrap;
}
section.DI_Third_step p {
    position: absolute;
    width: 1750px;
    height: 621px;
    left: 85px;
    top: 250px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #888888;
}
section.DI_Third_step p mark {
    font-style: normal;
    background-color: transparent;
    font-weight: bold;
    font-size: 1.2em;
    color: #888888;
}
hr.Line_2 {
    border: none;
    display: block;
    border-top: 10px dashed #9FD7D3;
    position: absolute;
    top: 9600px;
    left: 80px;
    z-index: -1;
    width: 1749px;
}
h2.Title_3 {
    position: absolute;
    width: 1193px;
    height: 36px;
    left: calc(50% - 1193px/2 + 0.5px);
    top: 9750px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #888888;
}
picture.Architecture_commerciale_picture img {
    position: absolute;
    width: 1905px;
    height: 713px;
    left: 0px;
    top: 9995px;
}
section.Architecture_commerciale_Banner {
    position: absolute;
    top: 9915px;
    left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 76px 118px;
    gap: 10px;
    isolation: isolate;
    width: 900px;
    height: 0px;
    background: #9FD7D3;
    border-radius: 0px 5px 5px 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 1;
}
section.Architecture_commerciale_Banner h2 {
    position: absolute;
    width: 397px;
    height: 36px;
    left: 85px;
    top: 34px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
    white-space: nowrap;
}
main aside.aside_2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 76px 118px;
    gap: 10px;
    position: absolute;
    width: 750px;
    height: 40px;
    left: 919px;
    top: 10600px;
    background: #FFFFFF;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
    border-radius: 20px 0px 0px 20px;
}
main aside.aside_2 p {
    position: absolute;
    top: 0px;
    width: 703px;
    height: 90px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #888888;
    flex: none;
    order: 0;
    flex-grow: 0;
}
section.Text_3 p {
    position: absolute;
    width: 1750px;
    height: 351px;
    left: 85px;
    top: 10950px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #888888;
}
section.Text_3 p mark.Question {
    font-style: normal;
    background-color: transparent;
    font-weight: bold;
    font-size: 1.2em;
    color: #9FD7D3;
}
section.Text_3 p mark {
    font-style: normal;
    background-color: transparent;
    font-weight: bold;
    font-size: 1em;
    color: #888888;
}
section.AC_First_step {
    position: absolute;
    width: 310px;
    height: 158px;
    left: 0px;
    top: 11800px;
}
section.AC_First_rectangle {
    position: absolute;
    width: 294px;
    height: 144px;
    left: 0px;
    top: 0px;
    background: #9FD7D3;
    border-radius: 0px 5px 5px 0px;
}
section.AC_Second_rectangle {
    position: absolute;
    width: 310px;
    height: 144px;
    left: 0px;
    top: 14px;
    background: rgba(159, 215, 211, 0.5);
    border-radius: 0px 5px 5px 0px;
}
section.AC_First_step h2 {
    position: absolute;
    width: 156px;
    height: 36px;
    left: 78px;
    top: 27px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}
section.AC_First_step p {
    position: absolute;
    width: 1750px;
    height: 621px;
    left: 85px;
    top: 250px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #888888;
}
section.AC_First_step p mark.Title {
    font-style: normal;
    background-color: transparent;
    font-weight: bold;
    font-size: 1.2em;
    color: #888888;
}
section.AC_First_step p mark {
    font-style: normal;
    background-color: transparent;
    font-weight: bold;
    font-size: 1em;
    color: #888888;
}
section.AC_Second_step {
    position: absolute;
    width: 310px;
    height: 158px;
    left: 0px;
    top: 12700px;
}
section.AC_Third_rectangle {
    position: absolute;
    width: 294px;
    height: 144px;
    left: 0px;
    top: 0px;
    background: #9FD7D3;
    border-radius: 0px 5px 5px 0px;
}
section.AC_Fourth_rectangle {
    position: absolute;
    width: 310px;
    height: 144px;
    left: 0px;
    top: 14px;
    background: rgba(159, 215, 211, 0.5);
    border-radius: 0px 5px 5px 0px;
}
section.AC_Second_step h2 {
    position: absolute;
    width: 156px;
    height: 36px;
    left: 78px;
    top: 27px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    white-space: nowrap;
}
section.AC_Second_step p {
    position: absolute;
    width: 1750px;
    height: 621px;
    left: 85px;
    top: 250px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #888888;
}
section.AC_Second_step p mark.Title {
    font-style: normal;
    background-color: transparent;
    font-weight: bold;
    font-size: 1.2em;
    color: #888888;
}
section.AC_Second_step p mark {
    font-style: normal;
    background-color: transparent;
    font-weight: bold;
    font-size: 1em;
    color: #888888;
}
section.AC_Third_step {
    position: absolute;
    width: 310px;
    height: 158px;
    left: 0px;
    top: 13700px;
}
section.AC_Fifth_rectangle {
    position: absolute;
    width: 294px;
    height: 144px;
    left: 0px;
    top: 0px;
    background: #9FD7D3;
    border-radius: 0px 5px 5px 0px;
}
section.AC_Sixth_rectangle {
    position: absolute;
    width: 310px;
    height: 144px;
    left: 0px;
    top: 14px;
    background: rgba(159, 215, 211, 0.5);
    border-radius: 0px 5px 5px 0px;
}
section.AC_Third_step h2 {
    position: absolute;
    width: 156px;
    height: 36px;
    left: 78px;
    top: 27px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    white-space: nowrap;
}
section.AC_Third_step p {
    position: absolute;
    width: 1750px;
    height: 621px;
    left: 85px;
    top: 250px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #888888;
}
section.AC_Third_step p mark.Title {
    font-style: normal;
    background-color: transparent;
    font-weight: bold;
    font-size: 1.2em;
    color: #888888;
}
section.AC_Third_step p mark {
    font-style: normal;
    background-color: transparent;
    font-weight: bold;
    font-size: 1em;
    color: #888888;
}
footer {
    background-color: black;
    position: absolute;
    width: 1905px;
    height: 406px;
    top: 14600px;
    left: 0px;
}
footer picture.Logo img {
    position: absolute;
    width: 147px; height: 155px;
    left: 900px;
    top: 40px;
}
footer picture img {
    position: absolute;
    width: 1920px;
    height: 996px;
    left: 500px;
    top: 60px;
    z-index: 1;
}
footer picture.image-container {
    position: relative;
    width: 52px;
    height: 52px;
    margin-left: 65px;
}
footer picture.image-container img {
    float: left;
    display: flex;
    position: absolute;
    top: 215px;
    left: 821px;
    width: 52px;
    height: 52px;
}
footer p {
    position: absolute;
    left: 390px;
    top: 300px;
    font-family: 'Inter';
    font-style: italic;
    font-size: 18px;
    color: #FFFFFF;
}
