body {
    background-image: url(../pictures/background.webp);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
header {
    position: absolute;
    top: 0px;
    left: 0px;
    background: #9FD7D3;
    width: 100%;
    height: 119px;
    opacity: 0.8;
}
header h1 a {
    color: white;
    position: relative;
    top: 16px; left: 100px;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    animation-duration: 3s;
    animation-name: slidein;
}
@keyframes slidein {
    from {
        margin-left: 70%;
    }
    to {
        margin-left: 0%;
    }
}
header nav ul {
    list-style-type: none;
    float: left;
    display: flex;
    position: relative;
    top: -50px; left: 1500px;
    font-family: 'Inter';
    font-style: normal;
}
header li {
    margin-left: 30px;
    font-size: 20px;
}
header li a {
    text-decoration: none;
    font-size: 25px;
    color: #FFFFFF;
}
picture.Banner img {
    position: absolute;
    width: 1905px;
    height: 996px;
    left: 0px;
    top: -8px;
    z-index: -1;
}
section.Introducing_text h2 {
    position: absolute;
    width: 750px;
    height: 108px;
    left: 85px;
    top: 206px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
    animation: fadeIn 2s ease-in-out;
}
section.Introducing_text h3 {
    position: absolute;
    width: 864px;
    height: 60px;
    left: 85px;
    top: 418px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
    animation: fadeIn 2s ease-in-out;
}
section.Introducing_text p  {
    position: absolute;
    width: 163px;
    height: 30px;
    left: 85px;
    top: 511px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
    animation: fadeIn 2s ease-in-out;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
section.AD-HOC_Banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 76px 118px;
    position: absolute;
    width: 300px;
    height: 0px;
    left: 70px;
    top: 1146px;
    background: #9FD7D3;
    border-radius: 5px;
}
section.AD-HOC_Banner h2 {
    width: 230px;
    height: 36px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 46px;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}
section.AD-HOC picture img {
    position: absolute;
    width: 550px;
    height: 425px;
    left: 63px;
    top: 1293px;
    border-radius: 5px;
}
section.AD-HOC aside {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 76px 118px;
    gap: 10px;
    position: absolute;
    width: 50px;
    height: 10px;
    left: 347.71px;
    top: 1620px;
    background: #FFFFFF;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
section.AD-HOC aside p {
    width: 205px;
    height: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #888888;
    flex: none;
    order: 0;
    flex-grow: 0;
}
section.AD-HOC aside p mark {
    font-style: normal;
    background-color: transparent;
    font-weight: bold;
    font-size: 1.2em;
    color: #898989;
}
section.AD-HOC p.text_AD-HOC {
    position: absolute;
    width: 500px;
    height: 1176px;
    left: 88px;
    top: 1800px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: justify;
    color: #888888;
}
section.AD-HOC p.text_AD-HOC mark {
    font-style: normal;
    background-color: transparent;
    font-weight: bold;
    font-size: 1.2em;
    color: #9FD7D3;
}
section.Café_Fernand_Banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 76px 118px;
    position: absolute;
    width: 300px;
    height: 0px;
    left: 690px;
    top: 1146px;
    background: #9FD7D3;
    border-radius: 5px;
}
section.Café_Fernand_Banner h2 {
    position: absolute;
    left: 110px;
    width: 230px;
    height: 36px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 46px;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    white-space: nowrap;
}
section.Café_Fernand picture img {
    position: absolute;
    width: 550px;
    height: 425px;
    top: 1293px;
    left: 683px;
    border-radius: 5px;
}
section.Café_Fernand aside {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 76px 118px;
    gap: 10px;
    position: absolute;
    width: 50px;
    height: 10px;
    left: 970px;
    top: 1620px;
    background: #FFFFFF;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
section.Café_Fernand aside p {
    width: 205px;
    height: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 25px;
    line-height: 24px;
    text-align: center;
    color: #888888;
    flex: none;
    order: 0;
    flex-grow: 0;
}
section.Café_Fernand aside p mark {
    font-style: normal;
    background-color: transparent;
    font-weight: bold;
    font-size: 1.2em;
    color: #898989;
}
section.Café_Fernand p.Café_Fernand_text {
    position: absolute;
    width: 500px;
    height: 744px;
    left: 710px;
    top: 1800px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: justify;
    color: #888888;
}
section.Café_Fernand p.Café_Fernand_text mark{
    font-style: normal;
    background-color: transparent;
    font-weight: bold;
    font-size: 1.2em;
    color: #9FD7D3;
}
section.Café_Fernand p.Café_Fernand_text mark.dark_gray_text{
    font-style: normal;
    background-color: transparent;
    font-weight: bold;
    font-size: 1em;
    color: #898989;
}
section.Accord_Caviste_Banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 76px 118px;
    position: absolute;
    width: 300px;
    height: 0px;
    left: 1300px;
    top: 1146px;
    background: #9FD7D3;
    border-radius: 5px;
}
section.Accord_Caviste_Banner h2 {
    position: absolute;
    left: 100px;
    width: 230px;
    height: 36px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 46px;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    white-space: nowrap;
}
section.Accord_Caviste picture img {
    position: absolute;
    width: 550px;
    height: 425px;
    top: 1293px;
    left: 1293px;
    border-radius: 5px;
}
section.Accord_Caviste aside {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 76px 118px;
    gap: 10px;
    position: absolute;
    width: 50px;
    height: 10px;
    left: 1570px;
    top: 1620px;
    background: #FFFFFF;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
section.Accord_Caviste aside p {
    width: 205px;
    height: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #888888;
    flex: none;
    order: 0;
    flex-grow: 0;
}
section.Accord_Caviste aside p mark {
    font-style: normal;
    background-color: transparent;
    font-weight: bold;
    font-size: 1.2em;
    color: #898989;
}
section.Accord_Caviste p.Accord_Caviste_text {
    position: absolute;
    width: 500px;
    height: 768px;
    left: 1313px;
    top: 1800px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: justify;
    color: #888888;
}
section.Accord_Caviste p.Accord_Caviste_text mark{
    font-style: normal;
    background-color: transparent;
    font-weight: bold;
    font-size: 1.2em;
    color: #9FD7D3;
}
section.Bar_à_ongles_Banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 76px 118px;
    position: absolute;
    width: 300px;
    height: 0px;
    left: 70px;
    top: 3600px;
    background: #9FD7D3;
    border-radius: 5px;
}
section.Bar_à_ongles_Banner h2 {
    position: absolute;
    width: 230px;
    height: 36px;
    left: 126px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 46px;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    white-space: nowrap;
}
section.Bar_à_ongles picture img {
    position: absolute;
    width: 550px;
    height: 425px;
    left: 63px;
    top: 3750px;
    border-radius: 5px;
}
section.Bar_à_ongles aside {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 76px 118px;
    gap: 10px;
    position: absolute;
    width: 50px;
    height: 10px;
    left: 347.71px;
    top: 4070px;
    background: #FFFFFF;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
section.Bar_à_ongles aside p {
    width: 205px;
    height: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #888888;
    flex: none;
    order: 0;
    flex-grow: 0;
}
section.Bar_à_ongles aside p mark {
    font-style: normal;
    background-color: transparent;
    font-weight: bold;
    font-size: 1.2em;
    color: #898989;
}
section.Bar_à_ongles p.Bar_à_ongles_text {
    position: absolute;
    width: 500px;
    height: 1176px;
    left: 88px;
    top: 4250px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: justify;
    color: #888888;
}
section.Bar_à_ongles p.Bar_à_ongles_text mark {
    font-style: normal;
    background-color: transparent;
    font-weight: bold;
    font-size: 1.2em;
    color: #9FD7D3;
}
section.Restaurant_Banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 76px 118px;
    position: absolute;
    width: 300px;
    height: 0px;
    left: 690px;
    top: 3600px;
    background: #9FD7D3;
    border-radius: 5px;
}
section.Restaurant_Banner h2 {
    position: absolute;
    left: 110px;
    width: 230px;
    height: 36px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 46px;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    white-space: nowrap;
}
section.Restaurant picture img {
    position: absolute;
    width: 550px;
    height: 425px;
    top: 3750px;
    left: 683px;
    border-radius: 5px;
}
section.Restaurant aside {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 76px 118px;
    gap: 10px;
    position: absolute;
    width: 50px;
    height: 10px;
    left: 970px;
    top: 4070px;
    background: #FFFFFF;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
section.Restaurant aside p {
    width: 205px;
    height: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #888888;
    flex: none;
    order: 0;
    flex-grow: 0;
}
section.Restaurant aside p mark {
    font-style: normal;
    background-color: transparent;
    font-weight: bold;
    font-size: 1.2em;
    color: #898989;
}
section.Restaurant p.Restaurant_text {
    position: absolute;
    width: 500px;
    height: 744px;
    left: 710px;
    top: 4250px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: justify;
    color: #888888;
}
section.Restaurant p.Restaurant_text mark{
    font-style: normal;
    background-color: transparent;
    font-weight: bold;
    font-size: 1.2em;
    color: #9FD7D3;
}
footer {
    background-color: black;
    position: absolute;
    width: 1905px;
    height: 406px;
    top: 5500px;
    left: 0px;
}
footer picture.Logo img {
    position: absolute;
    width: 147px; height: 155px;
    left: 900px;
    top: 40px;
}
footer picture img {
    position: absolute;
    width: 1920px;
    height: 996px;
    left: 500px;
    top: 60px;
    z-index: 1;
}
footer picture.image-container {
    position: relative;
    width: 52px;
    height: 52px;
    margin-left: 65px;
}
footer picture.image-container img {
    float: left;
    display: flex;
    position: absolute;
    top: 215px;
    left: 821px;
    width: 52px;
    height: 52px;
}
footer p {
    position: absolute;
    left: 390px;
    top: 300px;
    font-family: 'Inter';
    font-style: italic;
    font-size: 18px;
    color: #FFFFFF;
}